
<div class="container">
	<div>
		<div style="float: left; color:white;">上海</div>
		<div class="glyphicon glyphicon-search" style="float: left;color:white;">
		</div>
		<div style="float: right; color:white;">2015年4月1日发布</div>
		<div style="clear: both;"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row feature">
		
		<div class="col-xs-6">
			<div class="shadow">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "child_cold.png",class:""%>
					</div>
					<div class="col-xs-6">
						<p style="color:white">儿童感冒气象风险</p>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day" style="color:white;">今</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn ">&nbsp;</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day" style=" color:white;">明</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="shadow">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "child_asthma.png"%>
					</div>
					<div class="col-xs-6">
						<p style="color:white">儿童哮喘气象风险</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style="color:white;">今</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style=" color:white;">明</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn btn-color-2">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row feature">
		<div class="col-xs-6">
			<div class="shadow">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "adult_cold.png"%>
					</div>
					<div class="col-xs-6">
						<p style="color:white">成人感冒气象风险</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style="color:white;">今</div>
					</div>
					<div class="col-xs-10">
							<div class="btn-set">
								<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
								<div class="col-xs-15 butn">&nbsp;</div>
								<div class="col-xs-15 butn">&nbsp;</div>
								<div class="col-xs-15 butn">&nbsp;</div>
								<div class="col-xs-15 butn">&nbsp;</div>	
							</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style=" color:white;">明</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn btn-color-2">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="shadow">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "old_cold.png"%>
					</div>
					<div class="col-xs-6">
						<p style="color:white">老人感冒气象风险</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style="color:white;">今</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn btn-color-3">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style=" color:white;">明</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn btn-color-2">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row feature">
		<div class="col-xs-6">
			<div class="shadow">
				<div class="row">
					<div class="col-xs-6">
						<%= image_tag "lung_disease.png"%>
					</div>
					<div class="col-xs-6">
						<p style="color:white">慢性阻塞性肺病气象风险</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style="color:white;">今</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn ">&nbsp;</div>
							<div class="col-xs-15 butn btn-color-2">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2">
						<div class="day"  style=" color:white;">明</div>
					</div>
					<div class="col-xs-10">
						<div class="btn-set">
							<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>
							<div class="col-xs-15 butn">&nbsp;</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6">

				</div>
				<div class="col-xs-6">

				</div>
			</div>
		</div>
	</div>


</div>
<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-11">
			<div class="butn-set text-center">
		<div class="col-xs-15 bun "style="background-color:green;color:white" >低</div>
		<div class="col-xs-15 bun" style="background-color:#00a0e9;color:white" >轻微</div>
		<div class="col-xs-15 bun" style="background-color:yellow;color:white" >中等</div>
		<div class="col-xs-15 bun" style="background-color:orange;color:white" >较高</div>
		<div class="col-xs-15 bun" style="background-color:red;color:white" >高</div>	
	</div>
		</div>
	</div>
</div>
<div class="container text">
	<div class="shadow">
		<h5 class="title" style="color:white ">疾病风险预报产品说明</h5>
		<p style="color:white ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;疾病风险预报产品主要有分人群感冒、儿童哮喘、慢性阻塞性肺病（COPD）以及中暑四个产品。通过流行病学研究，确定影响疾病的气象环境因素，建立预测预报模型，根据天气预报和空气质量预报结果，确定疾病的风险等级，针对易感人群和不利天气，给出预防建议。</p>
	</div>
</div>
<script>
  // To attach Backstrech as the body's background
  $.backstretch("/assets/background.png");
</script>

